div{
    
    background-color: aquamarine;
    background-size: 100%;
    padding: 0px;
}
img{
   height: 120px;
   width: 120px;
}
a{
    text-decoration: solid;
    padding: 30px;
    size: 20px;
    color: black;

}
input{
    margin: 40px 20px;
}